* {
    padding: 1%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: azure;
}

.container {
    width: 350px;
    /* border: 1px solid black; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#card {
    /* background: radial-gradient(circle at 50% 0%, orange 36%, #ffffff 36%); */
    width: 100%;
    padding: 30px 20px;
    /* border: 1px solid black; */
    -webkit-box-shadow: 9px 9px 16px 1px rgba(0, 0, 0, 0.41);
    box-shadow: 9px 9px 16px 1px rgba(0, 0, 0, 0.41);
    border-radius: 5%;
}

#card img {
    display: block;
    width: 180px;
    max-height: 200px;
    position: relative;
    margin: 20px auto;
}

.hp {
    width: 80px;
    text-align: center;
    background-color: #ffffff;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: 400;
}

.poke-name {
    text-align: center;
    font-weight: 600;
}

.types {
    display: flex;
    justify-content: space-around;
    margin: : 20px 0 40px 0;
}

.hp span,
.types span {
    font-size: 12px;
    letter-spacing: 0.3px;
    font-weight: 600;
}

.types span {
    padding: 5% 20px;
    border-radius: 40%;
    color: #eeeeee;
    text-shadow: 2px 2px 5px rgb(23, 23, 23);
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.stats p {
    color: rgb(72, 72, 72);
}

#btn {
    display: block;
    padding: 15px 60px;
    border-radius: 36px;
    background: linear-gradient(145deg, #eeeeee, #c8c8c8);
    box-shadow: 5px 5px 26px #808080, -5px -5px 26px #ffffff;
    font-size: 18px;
    position: relative;
    margin: 30px auto;
    border: none;
}